.card-topic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 24px;
}

.card-topic-container .title {
  text-align: center;
  font-weight: bold;
}

.card-topic-container .title.zh {
  font-size: 4rem;
}

.card-topic-container .title.en {
  font-size: 2.5rem;
}